*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
h1{
    background-color: azure;
}

body{
    background-color: rgb(176, 241, 241);
}

#enunciado{
    border: black solid;
    text-align: center;
    border-radius: 10px;
}
@media (min-width: 320px) {
    #enunciado{
        margin: 20px;
    }
    h2{
        text-align: center;
        background-color: rgb(241, 155, 171);
        border-radius: 10px;
        margin: 20px;
    }

    #nombre{
        text-align: center;
        background-color: none;
        padding: 20px;
        font-size: 2em;
       
    }
    h1{
        padding: 20px;
        font-size: 3em;
    }
    h3{
        text-align: center;
        font-size: larger;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: aliceblue;
        margin: 20px;
        border-radius: 10px;
        padding: 10px;
    
    }

    #hobbies, #favorites, #estudios, #Lenguajes{
        background-color: azure;
        text-align: center;
        margin: 20px;
        border-radius: 10px;
    
    }
    .hobbies, .estudios, .favorites, .Lenguajes{
        margin: 20px;
        border-radius: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: solid black ;
    }

    .hobbies{
        background-color: rgb(80, 199, 203) ;
    }
    .Lenguajes{
        background-color: rgb(73, 163, 241);
    }

    .favorites{
        background-color: rgb(246, 216, 204);
    }
    .estudios{
        background-color:  rgb(167, 244, 157);
    }

    #imagenFavorites, #imagenHobbies, #imagenEstudios, #imagenLenguajes {
        height: 200px;
        width: 100%;
       
    }
    #imagenFavorites:hover, #imagenHobbies:hover,#imagenEstudios:hover, #imagenLenguajes:hover{
        filter: brightness(1.2);
        transition: filter 0.3s ease;
        transform: scale(1.1);
        
    }
    #foto{
        height: 200px;
        border-radius: 20px;
        margin:20px;
    }
    .libro, .peliculas, .favoritos, .lenguaje, .estudio{
        height: 200px;
        width: 300px;
        padding: 15px;
        margin-left: 50px;
        
    }
    #series, #libros, #favoritos, #lenguaje, #estudio{
        background-color: aliceblue;
        margin: 20px;
        border-radius: 20px;
        opacity: 0.9;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
   
    #sobreMi{
        text-align: center;
        border-radius: 20px;
        margin: 20px;
        background-color:rgb(249, 176, 127);
    }
   
   
}
@media (min-width: 600px) and (max-width: 1023px) {
    h3{
        grid-area: h3;
        text-align: center;
        font-size: larger;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: aliceblue;
        padding: 10px;
        margin-bottom: 20px;
    }
    #sobreMi{
       padding: 20px;
       font-size: 3em;
       margin: 60px;
    }
    h2{
        padding: 10px;
        margin: 40px;
        font-size: 2em;
    }


    .favorites, .Lenguajes{
    margin: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
    "h3 h3"
    "imagen favorites";
    padding-bottom: 10px;
    border: solid black;
    }

    .hobbies, .estudios{
        margin: 20px;
        border-radius: 10px;
        display: grid;
        grid-template-areas: 
        "h3 h3"
        "hobbies imagen";
        padding-bottom: 10px;
        border: solid black;
        }
    .hobbies{
        background-color: rgb(80, 199, 203) ;
    }

    .Lenguajes{
        background-color: rgb(73, 163, 241);
    }

    .favorites{
        background-color: rgb(246, 216, 204);
    }
    .estudios{
        background-color:  rgb(167, 244, 157);
    }

    #hobbies{
        grid-area: hobbies;
        background-color: azure;
        margin-left: 45px;
        margin-bottom: 20px;
        border-radius: 20px;
        margin-right: 40px;
        padding: 20px;
        padding-top: 40px;
        text-align: center;
    }
    #favorites{
        grid-area: favorites;
        background-color:azure;
        margin: 20px;
        margin-right: 50px;
        border-radius: 20px;
        text-align: center;
        padding: 20px;
    }
    #estudios{
        grid-area: hobbies;
        background-color: azure;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 45px;
        margin-right: 40px;
        text-align: center;
        padding: 20px;
        border-radius: 20px;
    }
    #Lenguajes{
        grid-area: favorites;
        background-color:azure;
        margin: 20px;
        margin-right: 50px;
        border-radius: 20px;
        padding: 60px;
        flex-wrap: wrap;
        text-align: center;
    }
    #imagenHobbies, #imagenLenguajes, #imagenFavorites, #imagenEstudios{
        height: 200px;
        width: 300px;
        border-radius: 20px;
        font-size: 1em;
    }

    #imagenHobbies{
        grid-area: imagen;
        margin-right: -60px;
    }
    #imagenEstudios{
        grid-area: imagen;
        margin-right: 50px;
    }
    #imagenFavorites{
        grid-area: imagen;
        margin-left: 45px;
    }
    #imagenLenguajes{
        grid-area: imagen;
        margin-left: 45px;
    }
  
    #foto{
        height: 300px;
        border-radius: 20px;
        padding:20px;
    }

    .libro, .peliculas, .favoritos, .lenguaje, .estudio{
        height: 400px;
        width: 500px;
        border-radius: 20px;
        padding: 20px;
        margin-left: 65px;
    }
    #series, #libros, #favoritos, #lenguaje, #estudio{
        background-color: aliceblue;
        margin: 60px;
        border-radius: 20px;
        opacity: 0.9;
        padding: 40px;
    
    }
   
}

@media (min-width: 1024px){
    h2{
        padding: 30px;
        font-size: 2em;
        margin: 40px;
    }
    .bodyContenedor{
        margin-left: 70px;
        display: grid;
        grid-template-areas: 
        "hobbies estudios"
        "favorites lenguajes";
    }
    #enunciado{
        grid-area:enunciado;
        border-radius: 10px;
        margin: 60px;
       
    }

    .hobbies{
        width: 600px;
        border-radius: 20px;
        border:black solid;
        grid-area: hobbies;
        background-color: rgb(80, 199, 203) ;
    }

    .Lenguajes{
        width: 600px;
        
        border-radius: 20px;
        border: solid black;
        grid-area: lenguajes;
        background-color: rgb(73, 163, 241);
    }

    .favorites{
        width: 600px;
        border-radius: 20px;
        grid-area: favorites;
        border: solid black;
        background-color: rgb(246, 216, 204);
    }
    .estudios{
        width: 600px;
        
        grid-area: estudios;
        border-radius: 20px;
        border: solid black;
        background-color:  rgb(167, 244, 157);
    }
    #hobbies{
        text-align: center;
    }
    #Lenguajes{
        text-align: center;
    }
    #estudios{
        text-align: center;
    }
    #favorites{
        text-align: center;
    }

    h3{
        text-align: center;
    }
    

    #foto{
        height: 300px;
        border-radius: 10px;

    }

    #imagenHobbies, #imagenLenguajes, #imagenEstudios, #imagenFavorites{
        height: 300px;
        width: 450px;
        padding-left: 90px;
        font-size: 1em;
        margin-left: 25px;
    }

    .libro, .peliculas, .favoritos, .lenguaje{
        height: 400px;
        width: 500px;
        padding: 10px;
        margin-left: 110px;
    }
    .estudio{
        width: 700px;
        height: auto;
        margin-left: 300px;
    }
    #series, #libros, #favoritos, #lenguaje, #estudio{
        background-color: aliceblue;
        margin: 60px;
        border-radius: 20px;
        opacity: 0.9;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    #sobreMi{
        padding: 20px;
        font-size: 3em;
        margin: 0;
        border-radius: 0;
    }
   

}






